<h2>App ID: <a href="http://195.201.17.1{{app_id}}" [innerHTML]="app_id">Loading...</a></h2>
<h2>Deployments: <span [innerHTML]="deployments">Loading...</span></h2>
<h2>Number of staged Containers: <span [innerHTML]="tasksStaged">Loading...</span></h2>
<h2>Number of running Containers: <span [innerHTML]="tasksRunning">Loading...</span></h2>
<h2>Number of healthy Containers: <span [innerHTML]="tasksHealthy">Loading...</span></h2>
<h2>Number of unhealthy Containers: <span [innerHTML]="tasksUnhealthy">Loading...</span></h2>
<button (click)="setInstances(1)">Set to 1 Instance</button>
<button (click)="setInstances(2)">Set to 2 Instances</button>
<button (click)="setInstances(3)">Set to 3 Instances</button>
<button (click)="setInstances(4)">Set to 4 Instances</button>
<!-- Next update in {{intervalTimerMsec}} msec -->
